<script>
  $(function () {
    var d1 = moment.utc().tz("America/Los_Angeles").format('YYYY-MM-DD HH:mm:ss ');

    var clock = $('#retroclockbox1').FlipClock(new Date(d1), {
      clockFace: 'TwelveHourClock',
      showSeconds: false
    });
    init();
  });
</script>
<div class="wrapper">
  <div class="box">
    <div class="row row-offcanvas row-offcanvas-left">
      <table><tr>
        <td style="width: 30%">
          <div  id="logomain">
            <img class="cdk" src="../assets/CDK_Logo_reverse.png">
            <span class="appTitleText">BI JOB MONITOR</span>
          </div>
        </td>  <!-- main right col -->
        <td style="width: 50%">
          <div class="column col-md-6 col-sm-10 col-xs-8" id="main">

            <!-- top nav -->
            <div class="navbar navbar-blue">
              <nav class="collapse navbar-collapse" role="navigation">
                <ul id="navMain" class="nav navbar-nav ">
                  <li>
                    <a id="Todays Live Status" [routerLink] = "['/live']">Todays Live Status</a>
                  </li>
                  <li>
                    <a href="status.html">Job History</a>
                  </li>
                  <li>
                    <a href="perf.html">Performance</a>
                  </li>
                  <li>
                    <a href="jobMetaData.html">Job Metadata</a>
                  </li>
                  <li>
                    <a href="teamMetaData.html">Team Metadata</a>
                  </li>
                </ul>

              </nav>
            </div>
            <!-- /top nav -->
          </div>
        </td>
        <td style="width: 20%">
          <div class="column col-md-3 col-sm-1 col-xs-2" id="refreshMain">
            <nav class="collapse navbar-collapse" role="navigation">
              <div id="retroclockbox1"></div>
            </nav>
          </div>
        </td>
      </tr>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
